*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.paisaje{ 
  background: url(../images/dawn.png) no-repeat center center fixed;
  background-size: cover;
  background-position: center; 
}

.cat{
  display: block;  
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;

}

.kitten1{
  display: inline-block;
  width: 50%;
}

.kitten2{
  display: none;
  width: 50%;
}
.kitten3{
  display: none;
  width: 50%;
}
